@{
    ViewBag.Title = "Index";
}


<!DOCTYPE html>
<!-- saved from url=(0094)-4 -->
<html>
    <head>
        <!-- Meta tag -->
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="uft-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="DoTanPhat">
                <!-- Css file -->
    <link href="~/Asset/css/all.css" rel="stylesheet" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Asset/css/Css.css" />
    <link rel="stylesheet" href="~/Asset/css/reset.css" />
    <link rel="stylesheet" href="~/Asset/css/styles.css"/>
    <link rel="stylesheet" href="~/Asset/css/grid.css" />
    <!-- icon html -->    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <title>Phát Đỗ Profile</title>
</head>

<body>

    <!--Header Setion-->
    <header>
        <!--Navigation Section-->
        <nav>
            <a href="~/Home/Index" class="nav-brand">Phát Đỗ</a>
            <ul class="main-nav">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#project">Project</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <span class="nav-toggler"><i class="fas fa-bars"></i></span>
        </nav>
        <!--End Navigation Section-->
    </header>
    <!--End Header Section-->

    <!--Showcase Section-->
    <section class="showcase" id="home">
        <div class="main-box">
            <div class="avatar"><img src="~/Image/Me.jpg" alt="avatar" style="width:200px"></div>
            <h1>Hi, I'm Phát Đỗ</h1>
            <!--Move Scroll Icon-->
            <a href="#about">
                <div class="scroll"></div>
            </a>
            <!--End Move Scroll Icon-->
        </div>
    </section>
    <!--End Showcase Section-->

    <!--About Section-->
    <section id="about" class="about">
        <div class="about-cont">
            <div class="info">
                <h2>Hi there, I'm Đỗ Tấn Phát</h2>
                <p>I have a passion for making beautiful websites. After a few months of self-taught, i have gained very basic knowledge of HTML and CSS. I have created a few very basic websites from what i have learned. I know programming is
                    never easy but i will try my best! :)
                </p>
                <div class="address">
                    <div class="left">
                        <p><i class="fa fa-address-book "></i><span>Email: </span>dotanphat20@gmail.com</p>
                        <p><i class="fas fa-map-marker-alt"></i><span>Location: </span>Bình Tân,Hồ Chí Minh,Việt Nam</p>
                        <p><i class="far fa-calendar-alt"></i><span>Date of birth: </span>13 September 1999</p>
                        <p><i class="fas fa-phone-square"></i><span>Phone: </span>+84 826240270</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="skill">
                <div class="bar">
                    <h5>HTML5</h5>
                    <span>90%</span>
                    <div class="line line-1"></div>
                </div>
                <div class="bar">
                    <h5>CSS3</h5>
                    <span>70%</span>
                    <div class="line line-2"></div>
                </div>
                <div class="bar">
                    <h5>Javascript</h5>
                    <span>10%</span>
                    <div class="line line-3"></div>
                </div>
                <div class="bar">
                    <h5>Bootstrap</h5>
                    <span>10%</span>
                    <div class="line line-4"></div>
                </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <!--End About Section-->

    <!--Project Section-->
    <section id="project" class="project">
        <h1>My Project</h1>
        <div class="row">
            <div class="col span-1-of-3 about-picture">
                <img src="~/Image/html-css.jpg" style="width:100%" alt="" >
                <div class="detail">
                    <p class="picture-title">
                        HTML, CSS
                    </p>
                    <a href="#">More</a>
                </div>
            </div>
            <div class="col span-1-of-3 about-picture">
                <img src="~/Image/UI-UX-3.jpg" style="width:100%" alt="">
                <div class="detail">
                    <p class="picture-title">
                        UI/UX
                    </p>
                    <a href="#">More</a>
                </div>
            </div>
            <div class="col span-1-of-3 about-picture">
                <img src="~/Image/Bootstrap-4.jpeg" style="width:100%" alt="">
                <div class="detail">
                    <p class="picture-title">
                        Bootstrap
                    </p>
                    <a href="#">More</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col span-1-of-3 about-picture">
                <img src="~/Image/UI-UX-2.jpg" style="width:100%" alt="">
                <div class="detail">
                    <p class="picture-title">
                        UI/UX
                    </p>
                    <a href="#">More</a>
                </div>
            </div>
            <div class="col span-1-of-3 about-picture">
                <img src="~/Image/Nuno.jpg" style="width:100%" alt="">
                <div class="detail">
                    <p class="picture-title">
                        Bootstrap
                    </p>
                    <a href="#">More</a>
                </div>
            </div>
        </div>
    </section>
    <!--End Project Section-->

    <!--Contact Section-->
    <section id="contact" class="contact">
        <h1>Contact Me</h1>
        <div class="detail">
            <div class="info">
                <span><i class="fas fa-phone"></i></span>
                <div class="info-detail">
                    <h5>PHONE</h5>
                    <h6>+84 826240270</h6>
                </div>
            </div>
            <div class="info">
                <span><i class="fas fa-map-marker-alt"></i></span>
                <div class="info-detail">
                    <h5>LOCATION</h5>
                    <h6>Bình Tân, TP HCM, Việt Nam.</h6>
                </div>
            </div>
            <div class="info">
                <span><i class="fas fa-envelope"></i></span>
                <div class="info-detail">
                    <h5>EMAIL</h5>
                    <h6>dotanphat20@gmail.com</h6>
                </div>
            </div>
        </div>
    </section>
    <!--End Contact Section-->

    <!--Footer Section-->
    <footer>
        <h2>Tấn Phát</h2>
        <span><a href="https://www.facebook.com/phat.vipro" target="_blank"><i class="fab fa-facebook-f"></i></a></span>
        <span><a href="https://www.instagram.com/t.phattttt/" target="_blank"><i class="fab fa-instagram"></i></a></span>
        <span><a href="https://github.com/0826240270" target="_blank"><i class="fab fa-github"></i></a></span>
        <p>TPhát. ©2019. All Rights Reserved. Design By <strong>Đỗ Tấn Phát</strong>.</p>
		</br>
		<iframe src="https://corona.kompa.ai/" style="width:100%;height:200%" style="border:none;"></iframe>
    </footer>
    <!--End Footer Section-->

    <!--Scripts Section-->
    <script src="~/Asset/js/jquery-3.4.1.js"></script>
    <script src="~/Asset/js/jquery.waypoints.min.js"></script>
    <script src="~/Asset/js/script.js"></script>
    <!--End Scripts Section-->


<noembed style="display:none!important;">
</body></html>